/tests/output/
/changelogs/.plugin-cache.yaml
__pycache__

# integration_config.yml contains connection info for the
# developer instance, including credentials
/tests/integration/integration_config.yml
.coverage*
htmlcov
venv/
.venv/
tests/integration/targets/*/test_session
tests/integration/targets/*/roles
