name: CI
on:
  push:
  pull_request:

jobs:
  sanity:
    name: Sanity (${{ matrix.ansible }})
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ansible:
          - stable-2.10

    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          path: ansible_collections/servicenow/itsm

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install ansible-base (${{ matrix.ansible }})
        run: pip install https://github.com/ansible/ansible/archive/${{ matrix.ansible }}.tar.gz --disable-pip-version-check

      - name: Run sanity tests
        run: make sanity
        working-directory: ./ansible_collections/servicenow/itsm

  units:
    name: Units (${{ matrix.ansible }})
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ansible:
          - stable-2.10

    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          path: ansible_collections/servicenow/itsm

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install ansible-base (${{ matrix.ansible }})
        run: pip install https://github.com/ansible/ansible/archive/${{ matrix.ansible }}.tar.gz --disable-pip-version-check

      - name: Run unit tests
        run: make units
        working-directory: ./ansible_collections/servicenow/itsm
