---
name: nightly

concurrency:
  group: ${{ github.run_id }}
  cancel-in-progress: true

on:
  schedule:
    - cron: "0 0 * * *" # timezone is UTC

jobs:
  linters:
    uses: ./.github/workflows/linters.yml
  sanity:
    uses: ./.github/workflows/sanity.yml
  units:
    uses: ./.github/workflows/units.yml
  nightly:
    if: ${{ always() }}
    needs:
      - linters
      - sanity
      - units
    runs-on: ubuntu-latest
    steps:
      - run: >-
          python -c "assert set([
          '${{ needs.linters.result }}',
          '${{ needs.sanity.result }}',
          '${{ needs.units.result }}'
          ]) == {'success'}"
